<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <style>
            .leftMargin {
                margin-left: 30px;
            }
            ul {
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <div class="leftMargin">
            <h3>Environment log viewer</h3>

            <ul>
                <li><a href="/plots">Plot</a></li>
            </ul>
        </div>
    </body>
</html>
