{
    "db": {
        "host": "myhost",
        "username": "myuser",
        "password": "myawesomepassword",
        "dbname": "env_logger",
        "source_tz": "UTC"
    },
    "fetch": {
        "entsoe_api_key": "mytoken",
        "country_code": "FI",
        "tz": "Europe/Helsinki"
    }
}
