;; Database settings
;; Example
;; {:database {:name "db_name"
;;		:username "foobar"
;;		:password "testpwd1!"}
;; Temperature correction offset in degree Celsius
;; :correction {:enabled false
;;		:offset 9}
;; Development / production setting
;; :in-production true}

{:database {:name "logger"}
 :correction {:enabled true
              :offset 11}
 :in-production true}
