[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "==4.7.1"
psycopg = {version = "==3.0.8", extras = ["c"]}

[dev-packages]

[requires]
python_version = "3.9"
