# WiFi settings
WIFI_SSID = "mynetwork"
WIFI_PASSWORD = "mypassword"

# Application settings
TIMEZONE = "UTC"
BACKEND_URL = "https://example.com/env-logger"

OID_TOKEN_ENDPOINT = "https://example.com/keycloak/realms/myrealm/protocol/openid-connect/token"
OID_CLIENT_ID = "myapp"
OID_CLIENT_SECRET = "abc123"

# Hide RuuviTags with given name(s), an empty array means that all
# tags are shown. Multiple values separated by commas are supported.
HIDDEN_RUUVITAG_NAMES = ""
