[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
pytz = "*"
requests = "*"
ruuvitag-sensor = {editable = true, git = "https://github.com/ttu/ruuvitag-sensor.git"}

[dev-packages]

[requires]
python_version = "3.9"
